@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --background-color: #ffffff;
  --background-color-alt: #ffffff;
  --text-color: #11181c;

  --separate-color: #f4f4f5;
  --black-color: #000;
  --light-black-color: #27272a;
  --red-color: #d32f2f;
  --green-color: #16a34a;
  --yellow-color: #FFA500;
  --text-color-alt: #a1a1aa;
  --primary-color: #0072bc;
  --secondary-color: linear-gradient(90deg, #07eef6 0%, #2694fb 100%);
}

[data-theme='dark'] {
  --background-color: #111111;
  --background-color-alt: #18181b;
  --text-color: #ffffff;
  --separate-color: #27272a;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  transition: background -0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
      list-style: none;
}
